# Mac OS X related stuff
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

.sass-cache

# Jekyll output folder
_site
.jekyll-metadata
assets/*.css.map

.idea
.env
bin/
