    <script type="text/javascript">
      const quotes = <%= @quotes %>;
    </script>

    <pre>
      <%= @quotes[rand(@quotes.size)-1] %>
    </pre>
    <a href="/" title="try again!">reload</a> &squf; <a href="/links">links &Gt;</a>

    <script src="js/app.js"></script>
