    <script>
      const QUOTES = <%= @quotes %>;
    </script>

    <pre>
      <%= @quotes[rand(@quotes.size)-1] %>
    </pre>
    &Lt; <a href="/me" title="me what?!">me</a> &middot;
    <a id="reload" href="/" title="try again!">reload</a> &middot;
    <a href="/links" title="look!">links</a> &Gt;

    <script src="js/app.js"></script>
