<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= @title ? "#{ @title } | Carsten Behnert" : 'Carsten Behnert' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Carsten Behnert">
  <meta name="keywords" content="Carsten, Behnert, Berlin, Germany, Deutschland">
  <meta name="description" content="Official website of Carsten Behnert living in Berlin, Gemany.">
  <link rel="stylesheet" media="screen" href="css/style.css" >
</head>
<!-- shows first quote at first page load -->
<body onload="showQuote()">
  <div class="center">
  <%= yield %>
  </div>
  <script src="js/app.js"></script>
</body>
</html>
