<% @title = 'links' %>
<p>twitter: <a href="https://twitter.com/cbehnert" title="carsten on twitter" target="_blank">@cbehnert</a></p>
<p>instagram: <a href="https://www.instagram.com/casi257/" title="carsten's wicked pics on instagram" target="_blank">casi257</a></p>
<br>
<a href="/">&Lt; back</a>
