<% @title = 'links' %>
<p>instagram: <a href="https://www.instagram.com/carsten.behnert/" title="carsten's wicked pics on instagram" target="_blank">carsten.behnert</a></p>
<p>twitter: <a href="https://twitter.com/cbehnert" title="carsten on twitter" target="_blank">@cbehnert</a></p>
<p>github: <a href="https://github.com/casi" title="carsten's hobby programming repositories" target="_blank">casi</a></p>
<br>
&Lt; <a href="/">back</a>
