<% @title = 'me' %>
<img height="128" width="128" alt="it's crooked." src="img/profile_img.jpg">
<p>That's me at 37. Years ago.<br>
It doesn't get any better.</p>

<a href="/" title="yeah nah yeah">back</a> &Gt;
