<% @title = 'me' %>
<img height="128" width="128" alt="it's crooked." src="img/profile_img.jpg">
<p>That's me at 37. Years ago.</p>

<p>(photo: <a href="https://www.instagram.com/anita.berlin" target="_blank">Anna Lebedeva</a>)</p>

<a href="/" title="yeah nah yeah">back</a> &Gt;