html,
body {
  font-family: monospace;
  font-size: 1.1em;
  background-color: #fefefe;
}

a:link,
a:visited,
a:hover {
  text-align: center;
  text-decoration: none;
  color: #000;
}

p a:link,
p a:visited {
  color: #fff;
  background-color: #000;
}

p a:hover {
  color: #000;
  background-color: #fefe00;
}

hr {
  height: 1px;
  border: 0;
  color: #000;
  background-color: #000;
}

pre {
  text-align: left;
}

.center {
  margin: 0;
  max-width: 35em;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
