<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.title %}
<title>{{ page.title }} · {{ site.title }}</title>
{% else %}
<title>{{ site.title }}</title>
{% endif %}
<meta name="date" content="{{ site.time }}">
<meta name="author" content="{{ site.author_name }}">
<meta name="keywords" content="{{ site.keywords }}">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
{% if site.google_verify %}
<meta name="google-site-verification" content="{{ site.google_verify }}">
{% endif %}
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="{{ site.baseurl }}/assets/img/favicons/favicon.png">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/favicons/touch-icon.png">
<link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.0/normalize.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/core.css">
<link rel="canonical" href="{{ page.url | prepend: site.baseurl }}">