// Main-Stylesheet 

// variables -------------------------------------------------------
$font-stack: Helvetica, 'Helvetica Neue', Verdana, sans-serif;
$prim-color: #696969;
$sec-color: #F16529;
$third-color: #eee;
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

// mixins ----------------------------------------------------------
/*@mixin border-radius($radius) {
	-webkit-border-radius: 	$radius;
	-moz-border-radius: 	$radius;
	-ms-border-radius: 		$radius;
	border-radius: 			$radius;
}*/

@mixin circle($width, $color) {
	width: $width;
	border-color: $color;
	-webkit-border-radius: $width/2;
	-moz-border-radius: $width/2;
	border-radius: $width/2;
}

@mixin box-shadow($horizontal, $vertical, $blur, $spread, $color) {
	-webkit-box-shadow:	$horizontal $vertical $blur $spread $color;
	-moz-box-shadow:	$horizontal $vertical $blur $spread $color;
	-ms-box-shadow:		$horizontal $vertical $blur $spread $color;
	box-shadow:			$horizontal $vertical $blur $spread $color;
}

@mixin transform ($scale) {
	-webkit-transform: scale($scale);
	-moz-transform: scale($scale);
	transform: scale($scale);
}
// ----------------------------------------------------------------

html, body {
	font-family: $font-stack;
	font-size: 1em;
	color: $prim-color;
}

h1, h2, h3, h4 {
	margin: 0;
}

h1 {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: -.02em;
}
h2 { font-size: .85em }
h3 { font-size: .75em }

p, ol, ul {
	font-size: .85em;
	letter-spacing: .06em;
	font-weight: 350;
}

img {
	max-width: 100%;
	height: auto;
}

nav.navbar {
	max-width: 370px;
	overflow: auto;
	padding: 0 15px;
	margin: 30px 0 10px 0;

	ul.nav {
		margin: 20px auto 10px auto;
		position: absolute;
		left: 50%; top: 0;
		list-style: none;
		align-items: center !important;
		
		li.nav-item {
			//list-style: none !important;
			float: left;
			//box-sizing: border-box;
			width: 30px;
			margin: 0 10px;
			text-align: center;
			
			#{$a-tags} {
				color: $prim-color;
				width: 15px;
				display: block;
				text-align: center;
			}
			#{$a-tags-hover} {
				color: $sec-color;
			}
		}
	}
}

.container {
	max-width: 370px;
	overflow: auto;
	padding: 20px;
	margin: 30px auto 10px auto;
	border: solid 1px $third-color;
	position: relative;
	//@include border-radius(2px);
	//@include box-shadow(0, 5px, 4px, -4px, $prim-color);

	#{$a-tags} {
		color: $sec-color;
		text-decoration: none;
		cursor: auto;
	}
	#{$a-tags-hover} {
		text-decoration: underline;
		cursor: pointer;
	}
}

.left {
	float: left;

	img {
		@include circle(186px, $third-color)
	}
}

.right {
	overflow: auto;
	text-align: right;
}

.skills {
	img {
		border: 0;
		&:hover {
			@include transform(2)
		}
	}
	position: absolute;
	bottom: 14px;
	right: 20px;
}

.footer {
	background: none;
	color: $prim_color;
	text-align: center;
	padding: 10px 0 20px 0;
	font-size: .75em;
	a { 
		color: $prim_color;
		text-decoration: underline 
	}
}
