---
layout: default
---

<div class="vcard">
	<div class="left">
		{% if profil_image != '' %}
		<img alt="{{ site.author_name }}" src="{{ site.profile_image }}" class="profile-img img-fluid">
		{% endif %}
	</div>
	<div class="right">
		<h1>{{ site.author_jobtitle1 }}<br />
			{{ site.author_jobtitle2 }}</h1>
		<p>{{ site.author_location }}</p>
		<p><a href="{{ site.social_link }}"><img width="50" height="30"
					src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Xing_logo.svg"></a></p>
	</div>
</div>