$font-stack: Helvetica, 'Helvetica Neue', Verdana, sans-serif;
$primary-color: #707070;
$secondary-color: #D3D3D3;

body {
	font-family: $font-stack;
	font-size: 1em;
	color: $primary-color;
}

h3 {
	margin-top: 0;
}

p {
	font-size: 0.9em;
}

#wrapper {
	width: 380px;
	overflow: auto;
	padding: 20px;
	margin: 50px auto;
	border: solid 1px $secondary-color;
	position: relative;
}

.left {
	width: 180px;
	height: 187px;
	float: left;

	img {
		border: solid 1px $secondary-color;
	}
}

.right {
	overflow: auto;
	text-align: right;
}

.skills {
	img {
		border: 0;
	}
	position: absolute;
	bottom: 14px;
	right: 20px;
}
