$font-stack: Helvetica, 'Helvetica Neue', Verdana, sans-serif;

body {
	font-family: $font-stack;
	font-size: 1em;
	color: #707070;
}

h3 {
	margin-top: 0;
}

p {
	font-size: 0.9em;
}

#wrapper {
	width: 400px;
	overflow: auto;
	padding: 20px;
	margin: 50px auto;
	border: solid 1px #D3D3D3;
}

.left {
	width: 180px;
	height: 187px;
	float: left;

	img {
		border: solid 1px #DCDCDC;
	}
}

.right {
	overflow: auto;
	text-align: right;
}

.skills {
	img {
		border: 0;
	}
}